* {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

body {
    background-color: blanchedalmond;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}
